img{
  width: 75%;
  height: 500px;
  margin-left: 12.5%;
}
body{
  background-color: #FF9D49;
}
h1{
  color: #914300;
  text-align: center;
}
.Explain{
  width: 90%;
  margin-left: 5%;
  background-color: white;
  font-size: 20px;
}
